->Wire Frame for design
->Replit and Visual Studio
->Mongo Db
->Literature Survey
-> confluence student trial
-> GitHub
-> GCP for students trial
-> Docker for windows
->Video conference- Jitsi
